.wrapper-body {
  width: 1200px;
  margin: 0 auto;
}

/* ==================================
   Section - Fonts
   ================================= */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  font-weight: 400;
}

/* page-header */

.navigetion-link {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

.intro {
  background-image: url("../img/backgrounds/bg-intro.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  display: block;
  margin: 0 auto;
}

.news-letter {
  background-image: url("../img/backgrounds/bg-sub.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
}

.inner-header {
  background-image: url("../img/backgrounds/bg-filter.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 408px;
}

/* ==================================
   Section - intro
   ================================= */
